<configuration>
    <!-- Консольный аппендер с цветным выводом -->
    <appender name="COLOR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- RollingFileAppender для tgb.btc.library с ежедневной ротацией и сохранением логов на 3 дня -->
    <appender name="FILE_TGB_BTC_LIBRARY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/tgb.btc.library.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/tgb.btc.library.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- RollingFileAppender для tgb.btc.web с ежедневной ротацией и сохранением логов на 3 дня -->
    <appender name="FILE_TGB_BTC_WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/tgb.btc.web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/tgb.btc.web.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Конфигурация логгеров для пакетов -->

    <logger name="tgb.btc.library" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_TGB_BTC_LIBRARY" />
        <appender-ref ref="COLOR_CONSOLE" />
    </logger>

    <logger name="tgb.btc.web" level="DEBUG" additivity="false">
        <appender-ref ref="FILE_TGB_BTC_WEB" />
        <appender-ref ref="COLOR_CONSOLE" />
    </logger>

    <!-- Root логгер -->
    <root level="INFO">
        <appender-ref ref="COLOR_CONSOLE" />
    </root>
</configuration>
