.x-btn-inner {
    color: #404040;
    font: 300 13px/21px \'Open Sans\', \'Helvetica Neue\', helvetica, arial, verdana, sans-serif;
}
.fa-floppy-disk {
    color: #404040;
}
.fa-rotate-right {
    color: #404040;
}
.fa-xmark {
    color: #404040;
}
.color-for-panel {
    background-color: #f6f6f6;
}