<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API документация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/extJS/theme-triton/resources/theme-triton-all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}"/>
    <script type="text/javascript" th:src="@{/extJS/ext-all.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/locale/locale-ru.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/theme-triton/theme-triton.js}"></script>
    <script type="text/javascript" th:src="@{/js/api/documentation/app.js}"a></script>
    <script type="text/javascript" th:src="@{/js/util/Regex.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/ValidatorUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/ExtUtil.js}"></script>
</head>
<body>
</body>
</html>