<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" th:href="@{/extJS/theme-material/resources/theme-material-all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Main.css}"/>
    <script type="text/javascript" th:src="@{/extJS/ext-modern-all.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/locale/locale-ru.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/theme-material/theme-material.js}"></script>
    <script type="text/javascript" th:src="@{/js/login/Login.js}"a></script>
    <script type="text/javascript" th:src="@{/js/util/Regex.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/ValidatorUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/util/ExtUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/Triggers.js}"></script>
</head>
<body>
</body>
</html>