<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/extJS/theme-triton/resources/theme-triton-all.css}"/>
    <script type="text/javascript" th:src="@{/extJS/ext-all.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/locale/locale-ru.js}"></script>
    <script type="text/javascript" th:src="@{/extJS/theme-triton/theme-triton.js}"></script>
    <script type="text/javascript" th:src="@{/js/mainUser/app.js}"></script>
</head>
<body>

</body>
</html>